@page "/ShowMeGetStarted"

<h3>Show Me and Get Started</h3>
<div style="margin-bottom: 5px;">
    <small class="form-text text-muted"><b>Select the "Show Me" button </b> to expand more information on the Baseball ML Workbench functionality:</small>
</div>

<ShowMe Title="Select and Search Baseball Players" Type="ShowMeSelectAndSearch" />
<br />
<ShowMe Title="Performing What-If Analysis (Rules Engine)" Type="ShowMeWhatIfRules" />
<br />
<ShowMe Title="Performing What-If Analysis (Single Machine Learning Model)" Type="ShowMeWhatIfSingleMLModel" />
<br />
<ShowMe Title="Performing What-If Analysis (Multiple Machine Learning Models)" Type="ShowMeWhatIfMultipleMLModels" />
<br />
<ShowMe Title="Comparing Multiple Baseball Players" Type="ShowMeComparingMultipleBaseballPlayers" />
<br />
<ShowMe Title="How can I understand the machine learning models?" Type="ShowMeModelUnderstanding" />
<br />
<div style="background-color: #04242D;text-align: center; position: fixed; left: 0; bottom: 0;height:35px;width: 100%;">
    <table style=" width: 100%; color:white">
        <tr>
            <td style="padding-left: 30px;padding-top:5px; text-align: left;">Crayon US, Phone: 469-646-4038</td>
            <td style="text-align: center;padding-top:5px;">contact.us@crayon.com</td>
            <td style="padding-right: 30px; text-align: right;padding-top:5px;"><a href="http://www.crayon.com">www.crayon.com</a></td>
        </tr>
    </table>
</div>
@code {

}
